*{
    box-sizing: border-box;
    p{
        color: gray;
    }
}
body{
    background-color: #0c0c0d;
}  
html{
    scroll-behavior: smooth;

}

/* HEADER */
header{
    padding-bottom: 2%;  
    height: 100vh;
}
#mynavigation{
    border: 0;
    background: 0;
    margin-top: 1%;
    .navbar-header{
        color: #fff;
        button:focus, button:hover{
            background: none;
        }
        .icon-bar{
            background-color: #fff;
        }
        .navbar-brand{
            color: #fff;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 27px;
        }
    }
    ul{
        li{
            a{
                color: #fff;
                font-weight: 500;
                font-size: 17px;
            }
            a:hover{
                color: #dbbb01;
            }
        }
    }
}
/* image-info-box */
.image-info-box{
    margin-top: 6%;
    .info-box{
       
        color: #fff;
        h1{
            font-size: 50px;
            font-weight: 600;
            span{
                color: #f2c200;
            }
        }
        h3{
            margin: 0;
        }
        p{
            font-size: 17px;
            margin-top: 3%;
        }
        button{
            background: none;
            border: 1px solid #f2c200;
            color: #fff;
            border-radius: 20px;
            margin-top: 5%;
        }
        button:focus{
            background: 0;
            color: #fff;
        }
      
    }
}

/* SKILLS-BOX-WRAPPER */
.skills-box-wrapper{
    width: 100%;
    padding: 3%;
    .skills-box{
        width: 100%;
        margin: 0 auto;
        color: #fff;
        padding: 1% 3% 3% 3%;
        box-shadow: 0px 0px 10px #f2c200;

        h1{
            text-align: center;
            color: #f2c200;
            letter-spacing: 2px;
        }
        li{
            list-style: none;
            padding: 1%;
            margin: 0;
        }
        .bar{
            background: #353b48;
            display: block;
            border: 1px solid #ffc200;
            height: 10px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 1px 1px 10px #33d3f0;
           
            span{
                height: 10px;
                background: #dbbb01;
                float: left;
            }
            .html{
                width: 93%;
                animation: html 5s;
            }
            .css{
                width: 88%;
                animation: css 5s;
            }
            .bootstrap{
                width: 85%;
                animation: bootstrap 5s;
            }
            .javascript{
                width: 60%;
                animation: javascript 5s;
            }
            .jquery{
                width: 63%;
                animation: jquery 5s;
            }
            .sass{
                width: 80%;
                animation: sass 5s;
            }

            /* keyframs starts */
            @keyframes html{
                0%{
                    width: 0%;
                }
                100%{
                    width: 93%;
                }
            }
            @keyframes css{
                0%{
                    width: 0%;
                }
                100%{
                    width: 88%;
                }
            }
            @keyframes bootstrap{
                0%{
                    width: 0%;
                }
                100%{
                    width: 85%;
                }
            }
            @keyframes javascript{
                0%{
                    width: 0%;
                }
                100%{
                    width: 60%;
                }
            }
            @keyframes jquery{
                0%{
                    width: 0%;
                }
                100%{
                    width: 63%;
                }
            }
            @keyframes sass{
                0%{
                    width: 0%;
                }
                100%{
                    width: 80%;
                }
            }
        }   
    }
}

/* MAIN STARTS */
main{
    width: 100%;
    color: #fff;
    margin: 5% 0;
    
    h1{
        font-size: 40px;
        margin-bottom: 5%;
    }
    .project-image{
        padding: 5%;
        a{
            color: #fff;
        }
        
        a :hover{
            text-decoration: none !important;
        }
        
        a :hover{
            color: #dbbb01;
            text-decoration: none !important;
        }
        img:hover{
            border: 1px solid #ffc200;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}
/* MAIN ENDS */

/* CONTACT-WRAPPER STARTS */
.contact-wrapper{
    color: #fff;
    text-align: center;
    h1{
        color: #fff;
        margin-bottom: 3%;
    }
    h4{
        color: gray;
    }
    a:hover{
        text-decoration: none;
    }

    .icon{
        padding: 3% 0;
        width: 30%;
        margin: 0 auto;
        margin-left: 35%;
        margin-top: 1%;
       
        .fa{
            color: #fff;
            font-size: 30px;
        }
        .fa:hover{
            color: #dbbb01;
        }
    }
}
/* CONTACT-WRAPPER ENDS */


/* MEDIAQUERY STARTS */
@media only screen and (max-width: 993px){
    #mynavigation{
        ul {
            li{
                a{
                    font-size: 500 !important;
                }
            }
        }
    }
    header{
        height: auto;
        .info-box{
            margin: 10% 0;
        }
        .image-box{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10%;
        }
    }
    .image-info-box{
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px){
 
.image-info-box{
    .info-box{
        h1{
            font-size: 45px;
            font-weight: 500;
        }
        p{
            font-size: 15px;
        }
    }
}

.skills-box-wrapper{
    margin: 10% 0;
}
.project-image{
    border-bottom: 1px solid #575656;
}

.contact-wrapper{
    h1{
        font-size: 29px;
    }
   
    .icon{
        width: 60%;
        margin: 0 auto;
        .fa{
            font-size: 25px;
        }
    }
}
}

@media only screen and (max-width: 355px){
    .image-info-box{
        .info-box{
            h4{
                font-size: 15px;
            }
            h1{
                font-size: 34px;
            }
            h3{
                font-size: 19px;
            }
            p{
                br{
                    display: none;
                }
            }
        }
        .image-box{
            width: 95%;
            margin-top: 10%;
        }
    }
    .contact-wrapper{
        padding: 5% 0;
        h1{
            font-size: 25px;
        }
        h4{
            font-size: 15px;
        }
    }
}
/* MEDIAQUERY ENDS */